<link rel="stylesheet" href="/css/blogpost.css" />
<div id="blogpost">
    <div class="center">
    <h2>
        <h1>{{title}}</h1>
            <p class="username"> Written by {{user.username}}</p>
            <p class="date">{{format_date date_created}}</p>
            <p>{{description}}</p>
    </div>
</div>


  {{#if logged_in}}
  <div id="addComment">
    <form id="add-comment">
      <input type="text" id="description" placeholder="Add a comment"/>
      <button type="submit">Comment</button>
    </form>
        <script src ="/js/add-comment.js"></script>
</div>
  {{/if}}


<h2 id="commentTitle">Comments</h2>
  {{#each Comments}}
  <div class="commentSpace">
    <div class="Comments">
        <p>{{description}}</p>
        <p class="commentDate">Posted by {{user.username}} {{format_date date_created}}</p>
    </div>
</div>
 {{/each}}